html, body, .container {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Schoolbell', cursive;
	font-size: 16px;
	background-image: url("img/bg.png");
}

a {
	text-decoration: none;
	color: #555
}

.container {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,1)), color-stop(1, rgba(0,0,0,0)));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

	.container div {
	}

	.container .h2 {
		font-size: 24px;
		font-weight: bold;
		line-height: 25px;
	}

	.container .form {
		padding-left: 15px;
	}

div {
	margin: 0;
}

.feeds {
	background-image: url("img/bgi.png");
	width: 400px;
	min-height: 100%;
	height: auto;
}

.feed {
	line-height: 30px;
	height: 100px;
	padding: 15px
}

.icon {
	height: 100px;
	width: 100px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

	.icon img {
		width:  100%;
	}

.form {
	right: 100px;
	position: fixed;
	color: #aaa;
}

.note {
	font-size: 11px;
	color: #999;
}

input {
	font-family: 'Schoolbell', cursive;
	font-size: 20px;
	width:400px;
    border-radius:5px;
    border: solid 1px #ccc;
    padding:0.4em;
    margin: 5px;
    background-color: #f5f5f5;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2); 
}

.logo {
	height: 150px;
	padding: 10px;
}

	.logo img {
		height: 100%;
	}

input[type="submit"] {
	width: 100px;
}

@media (max-width: 1000px) {
	html, body, .container {
		height: auto;
		margin: 0;
	}

	.form {
		right: auto;
		position: relative;
		padding-right: 25px;
		color: #aaa;
	}

	input {
		font-size: inherit;
		width:70%;
	    padding:2px;
	    margin: 2px;
	    background-color: #f5f5f5;
	    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2); 
	    left: 0px;
	}

	.label {
		float: left;
		width: 20%;
		overflow: hidden;
	}

	.note {
		visibility: collapse;
		position: fixed;
	}

	.feeds {
		height: auto;
		width: 100%;
	}

	.logo {
		text-align: center;
	}
}

@media (max-width: 420px) {
	div.icon {
		width: 30px;
		height: 30px;
	}

	.feed {
		line-height: 15px;
		height: auto;
		padding: 4px;
	}

	.logo {
		height: 40px;
		padding: 2px;
	}
}